.App {
  text-align: center;
}

.button-row {
  width: 100%;
  text-align: center;
}

.option {
  display: inline-block;
}

.option-button-default {
  background-color: #008cba;
  border: none;
  color: white;
  height: 100px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.option-button-green {
  background-color: green;
  border: none;
  color: white;
  height: 100px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.option-button-yellow {
  background-color: #ffa000;
  border: none;
  color: white;
  height: 100px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.option-button-red {
  background-color: red;
  border: none;
  color: white;
  height: 100px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 8px;
}

.default-button {
  background-color: black;
  border: none;
  color: white;
  height: 60px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 10px 10px;
  cursor: pointer;
  border-radius: 8px;
}

table {
  width: 100%;
  table-layout: fixed;
}

header {
  background: black;
}

.topnav-right {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

.content {
  padding: 16px;
}